GNOSIS_RPC='https://rpc.gnosis.gateway.fm'
GNOSIS_DEPLOYER_PK=
# should be a community multisig address 
ADMIN_ADDRESS=

OPTIMISM_RPC=
OPTIMISM_DEPLOYER_PK=

SEPOLIA_RPC=
SEPOLIA_DEPLOYER_PK=
ETHERSCAN_API_KEY=

# Frontend
NEXT_PUBLIC_SAFETY_NET_ADDRESS=
NEXT_PUBLIC_BREAD_TOKEN_ADDRESS=
NEXT_PUBLIC_NODE_ENV=local
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
