# General
yarn-error.log
node_modules
.DS_STORE
.vscode

# Foundry files
contracts/cache
contracts/out
contracts/out-via-ir
contracts/crytic-export

# Config files
.env

# Avoid ignoring gitkeep
!/**/.gitkeep

# Keep the latest deployment only
contracts/broadcast/*/*/*

# Echidna corpus
contracts/test/invariants/fuzz/echidna_coverage

# Coverage
lcov.info

# Next.js
.next/

# Context
.context/
